<fieldset>
  <legend>Application</legend>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label 'Institution', class: 'col-form-label col-form-label-sm' %>
    </div>
    <div class="col-sm-10">
      <%= f.select :institution_id, institutions_for_select,
                             {include_blank: t('defaults.select')}, {class: 'custom-select form-control select-two'} %>
    </div>
  </div>
</fieldset>